@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer components {
  .social__icons {
    @apply text-background__color__white bg-background__color__secondary md:bg-background__color__white md:text-background__color__secondary h-[35px] w-[35px] flex justify-center items-center rounded-full
  }
}

/* width */
::-webkit-scrollbar {
  /* width: 2px; */
  height: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #536273;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11263C;
  border-radius: 5px;
  width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F05F30;
  cursor: pointer;
}

@media screen and (max-width : 767px) {
  ::-webkit-scrollbar {
    /* width: 2px; */
    display: none;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {}